  <h3> Ver Producto</h3>
  
    <input type="number" hidden class="form-control" formControlName="id" value="0">
    <div class="form-group row">
      <label class="control-label col-md-12">Nombre</label>
      <div class="col-mod-12">
        {{ProductoActual.nombre}}
      </div>
    </div>
    <div class="form-group row">
      <label class="control-label col-md-12">Precio</label>
      <div class="col-mod-12">
        {{ProductoActual.precio}}
      </div>
    </div>
    <div class="form-group row">
      <label class="control-label col-md-12">Existencias</label>
      <div class="col-mod-12">
        {{ProductoActual.existencias}}
      </div>
    </div>
